<?xml version="1.0" encoding="UTF-8"?>

<phpunit 	backupGlobals="false"
			backupStaticAttributes="false"
			colors="true"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true"
			processIsolation="false"
			stopOnFailure="true"
			syntaxCheck="true"
			debug="true"
			strict="true"
			bootstrap="./tests/bootstrap.php">
	<testsuites>
		<testsuite name="signals">
			<directory>./tests/Signals/</directory>
		</testsuite>

		<testsuite name="filesystem">
			<directory>./tests/Filesystem/</directory>
		</testsuite>

		<testsuite name="config">
			<directory>./tests/Config/</directory>
		</testsuite>

		<testsuite name="database">
			<directory>./tests/Database/</directory>
		</testsuite>

		<testsuite name="utils">
			<directory>./tests/Utils/</directory>
		</testsuite>

		<testsuite name="utils.arr">
			<file>./tests/Utils/ArrTest.php</file>
		</testsuite>

		<testsuite name="utils.str">
			<file>./tests/Utils/StrTest.php</file>
		</testsuite>

		<testsuite name="routing">
			<directory>./tests/Routing/</directory>
		</testsuite>

		<testsuite name="core">
			<directory>./tests/Core/</directory>
		</testsuite>

		<testsuite name="core.app">
			<directory>./tests/Core/Application</directory>
		</testsuite>

		<testsuite name="shortcode">
			<directory>./tests/Shortcode</directory>
		</testsuite>

		<testsuite name="benchmarks">
			<directory>./tests/Benchmarks</directory>
		</testsuite>

	</testsuites>
</phpunit>
